


.ant-list-vertical .ant-list-item {
  margin: 0 0 10px 0;
}
@media only screen and (max-width: 1500px) and (min-width: 1300px)  {
  .liststyle{
    width: 750px;
  }
  /* .search-input{
    width: 600px;
  } */
}
@media only screen and (max-width: 1400px) and (min-width: 1300px)  {
  .liststyle{
    width: 650px;
    
  }
  /* .search-input{
    width: 600px;
  } */
}
@media only screen and (max-width: 1200px) and (min-width: 1000px)  {
  .liststyle{
    width: 550px;
    
  }
}
@media only screen and (max-width: 1100px) and (min-width: 960px)  {
  .liststyle{
    width: 500px;
  }
  
}
@media only screen and (max-width: 950) and (min-width: 810px)  {
  .liststyle{
    width: 550px;
  }
  
}
@media only screen and (max-width: 800) and (min-width: 600px)  {
  .liststyle{
    width: 400px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px)  {
  .liststyle{
    width: 420px;
  }
}

@media only screen and (max-width: 390px) and (min-width: 200px)  {
  .liststyle{
    width: 230px;
  }
  /* .search-input{
    width: 300px;
  } */
}

@media only screen and (max-width: 200px) and (min-width: 100px)  {
  .liststyle{
    width: 100px;
  }
  /* .search-input{
    width: 100px;
  } */
}